---
import type { GetStaticPaths } from "astro";
import Flex from "../../components/Flex.astro";
import Link from "../../components/Link.astro";
import { blockSlugs, itemSlugs } from "../../game/slugs";
import { unqualify } from "../../game/unqualify";
import { vfs } from "../../game/vfs";
import locales from "../../i18n/locales.json";
import BaseLayout from "../../layouts/BaseLayout.astro";

export const getStaticPaths = (() => {
  return Object.keys(locales.locales).map((id) => ({
    params: { locale: id === locales.default ? undefined : id },
    props: { locale: id },
  }));
}) satisfies GetStaticPaths;

const { locale } = Astro.props;

const gameString = await vfs.strings(locale);
---

<style>
  .title {
    display: flex;
    justify-content: center;

    padding: var(--u4) 0;

    .image {
      width: calc(40 * var(--u2));
    }
  }
</style>

<BaseLayout {locale}>
  <h1>blocks</h1>

  <Flex wrap gap="2">
    {
      blockSlugs.map(({ id, slug }) => {
        return (
          <Link href={`/blocks/${slug}`}>
            {gameString.get(`block.minecraft.${unqualify(id)}`)}
          </Link>
        );
      })
    }
  </Flex>

  <h1>items</h1>

  <Flex wrap gap="2">
    {
      itemSlugs.map(({ id, slug }) => {
        return (
          <Link href={`/items/${slug}`}>{gameString.get(unqualify(id))}</Link>
        );
      })
    }
  </Flex>
</BaseLayout>
